@import 'variables.scss';

.content-section {
  overflow: auto;
  // display: grid;
  // grid-template-columns: auto minmax(250px, 500px);
  // grid-auto-rows: minmax(150px, auto);
  flex-wrap: wrap;
  align-content: flex-start;
  height: calc(100% - 176px);
  height: 100%;
  padding-bottom: 10px;
}
