@import 'variables.scss';

.top-part {
  padding: 20px 0;
  input[type='text'] {
    text-decoration: none;
    border: 0;
    font-size: 20px;
  }
  .user-info {
    width: 230px;
    justify-content: space-between;

    img {
      cursor: pointer;
      width: 25px;
      height: 25px;
      object-fit: contain;
    }
    .user-name {
      margin-top: auto;
      margin-bottom: auto;
      justify-content: space-between;
      width: 180px;
      white-space: nowrap;
      img {
        width: 15px;
        height: 15px;
        object-fit: contain;
      }
    }
  }
}
.section-title {
  padding: 20px 0 40px 0;
  #section-title {
    font-size: $section-title-font-size;
    font-weight: lighter;
  }
}
.tool-bar {
  // justify-content: flex-end;
  padding-bottom: 10px;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    opacity: 0.5;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: lightgray;
  }
  .tools {
    label {
      cursor: pointer;
      margin-right: 20px;
      position: relative;
    }
    img {
      width: 25px;
      height: 25px;
      left: 0%;
      transform: translate(0%, -20%);
      object-fit: contain;
    }
  }
  .sorting {
    a {
      text-decoration: none;
      margin: 0 5px;
      padding: 5px 10px;
      border-radius: 5px;
      color: $gray-text;
      &:hover {
        background-color: #444c63;
        color: $white-color;
      }
    }
  }
}
