@import 'variables.scss';

.top-part {
    padding: 20px 0;
    input[type=text] {
        text-decoration: none;
        border: 0;
        font-size: 20px;
    }
    .user-info {
        width: 230px;
        justify-content: space-between;
        a {
            margin-right: 20px;
            position: relative;
            &:hover .tool-h-text {
                display: block;
            }
            .tool-h-text {
                position: absolute;
                background-color: $white-color;
                z-index: 1;
                font-size: 14px;
                color: $gray-text;
                bottom: -25px;
                left: -32px;
                padding: 1px 5px;
                height: 20px;
                border: 1px solid $gray-text;
                border-radius: 5px;
                white-space: nowrap;
                text-align: center;
                display: none;
                pointer-events: none;
            }                    
            img {
                width: 25px;
                height: 25px;
                object-fit: contain;
            }
        }
        .user-name {
            margin-top: auto;
            margin-bottom: auto;
            justify-content: space-between;
            width: 180px;
            white-space: nowrap;
            img {
                width: 15px;
                height: 15px;
                object-fit: contain;
            }
        }
    }
}
.section-title {
    padding: 20px 0 40px 0;
    #section-title {
        font-size: $section-title-font-size;
        font-weight: lighter;

    }

}
.tool-bar {
    padding-bottom: 10px;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        opacity: .5;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: lightgray;
    }
    .tools {
        
        a {
            margin-right: 20px;
            position: relative;
            &:hover .tool-h-text {
                display: block;
            }
            .tool-h-text {
                position: absolute;
                background-color: $white-color;
                z-index: 1;
                font-size: 14px;
                color: $gray-text;
                bottom: -20px;
                left: -15px;
                padding: 1px 5px;
                height: 20px;
                border: 1px solid $gray-text;
                border-radius: 5px;
                white-space: nowrap;
                text-align: center;
                display: none;
                pointer-events: none;
            }
            .new-hover {
                left: -25px;
            }
            .share-hover {
                left: -35px;
            }
            
        }
        img {
            width: 25px;
            height: 25px;
            left: 0%;
            transform: translate(0%, -20%);
            object-fit: contain;
        }
    }
    .sorting {
        a {
            text-decoration: none;
            margin: 0 5px;
            padding: 5px 10px;
            border-radius: 5px;
            color: $gray-text;
            &:hover {
                background-color: #444c63;
                color: $white-color;
            }
        }
    }
}