@import "variables.scss";
@import "dropbox-styles/main-w-content.scss";
@import "dropbox-styles/main-w-tools.scss";
@import "dropbox-styles/navigation.scss";
@import "dropbox-styles/uploaded-img.scss";

.main-content {
  width: 100%;
  position: relative;
}

@media (max-width: 792px) {
  .content-section {
    flex-direction: row;
    justify-content: center;
    margin: auto;
    .uploaded-img {
      max-width: 100%;
    }
  }
}

.alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: red;
  margin: 15px;
  padding: 15px;
  font-size: large;
  font-weight: bold;
  border-radius: 5px;
  display: none;
}